<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>    
    <div style="width:730px; height:550px; padding:10px; text-align:center; border: 10px solid #0f43a5">
        <div style="width:700px; height:520px; padding:10px; text-align:center; border: 5px solid #1dcfee">
            <span style="font-size:50px; font-weight:bold">Certificado</span>
            <br><br>
            <span style="font-size:25px">            
                <% if (user) { %>
                    <%= (user.name && user.lastName) ? user.name + ' ' + user.lastName : user.email %> 
                <% }%>
            </span>
            <br><br>
            <span style="font-size:25px"><i>ha completado el curso de</i></span> <br /><br />
            <span style="font-size:30px">Lenguaje Kichua</span> <br /><br />
            <span style="font-size:20px">con una nota de <b> <%= user.notaFinal %> </b></span> <br /><br /><br /><br />
            <span style="font-size:25px"><i>Certificación de aprobación online</i></span><br>
            <span style="font-size:30px">  
                <%= user.date ? user.date : '' %> 
            </span>
        </div>
    </div>
</body>

</html>